{% extends "base.html.twig" %}

{% block body %}
  <div id="main-container">
    <h1 class="main page-title">{{'terms'|trans}}</h1>

    <div class="row justify-content-center">
      <div class="col-8">
        <div class="card">
          <div class="card-body">

<h2 class="edito">Mentions légales</h2>

<h3>Responsables de la publication</h3>
<ul>
  <li>Hélène Boulanger, présidente de l’Université de Lorraine</li>
  <li>Yassine Lakhnech, président de l’Université Grenoble Alpes</li>
</ul>

<h3>Responsabilité éditoriale</h3>
<ul>
  <li>
    <a href="https://www.elan-numerique.fr/">ELAN</a>, l'élan littératures et arts numériques de Litt&amp;Arts&nbsp;
  </li>
  <li>
    Nicolas Brucker - Directeur de la Maison des sciences sociales et des humanités Lorraine
  </li>
</ul>

<h3>Hébergement</h3>
<ul>
  <li>
    TGIR Huma-Num - UMS 3598<br/>
    54 Boulevard Raspail<br/>
    75006 Paris<br/>
    <a target="_blank" href="http://www.huma-num.fr">http://www.huma-num.fr</a><br/>
    <a href="mailto:cogrid@huma-num.fr">cogrid@huma-num.fr</a><br/>
  </li>
</ul>

<h3>Conception et maintenance du site</h3>
<ul>
  <li>
    ELAN, Litt&Arts - UMR 5316
  </li>
  <li>
    Alexander Grebenkov
  </li>
  <li>
    Isabelle Pignone, MSH Lorraine - UAR 3261 (UL, CNRS)
  </li>
</ul>

<h2 class="edito">Conditions générales d'utilisation</h2>
<h3>Objet de la plateforme et conditions d'utilisation</h3>
<p>La plateforme TACTEO (ci-après dénommée « la Plateforme ») a pour objet la transcription et l’annotation collaborative de corpus textuels et oraux dans le cadre des recherches
universitaires en sciences humaines et sociales. La plateforme est une adaptation de la
plate-forme TACT réalisée par L’Equipe Littératures et Arts Numériques (ELAN) de l’UMR
5316 Litt&Arts (<a target="_blank" href="https://tact.demarre-shs.fr/">https://tact.demarre-shs.fr/</a>), intégrant des types supplémentaires de médias (pdf multipages, enregistrements audio ou vidéo). La création d'un projet TACTEO est
ouverte à tout porteur ou porteuse de projet de recherche publique quels que soit son
institution d'origine ou son laboratoire de recherche.
</p>

<h3>Historique du projet &amp; financements</h3>
<p>La plateforme TACTEO est une évolution de la plateforme TACT qui a été réalisée dans le
cadre du WP « Données Massives et Riches pour les Sciences Humaines et Sociales »
(Démarre SHS !) du projet « Institut des Données » de Grenoble (Data Institute, Cross-
Disciplinary Programme ou CDP financé par l'IDEX Grenoble-Alpes). TACTEO a été réalisée
au sein d’ELAN, l'équipe Littératures et Arts Numériques de l’UMR 5316 Litt&Arts.</p>

<p>Ce travail a bénéficié d'une aide de l'Etat gérée par l'Agence Nationale de la Recherche au
titre du programme « Investissements d'avenir » portant la référence ANR-15-IDEX-02. Le
projet Palamède a foruni de nouvelles fonctionnalités, financées par l’infrastructure de
recherche Huma-Num (consortium CORLI, CORpus Langues et Interactions ) en partenariat
avec l’Université de Lorraine (MSHL) , l’Université de Grenoble Alpes (Litt&Arts) et l’ATILF.</p>

<h3>Modalités de participation et de contributions</h3>
<p>La participation à la plateforme consiste en la réalisation de transcription et d’annotation de
corpus textuels ou oraux (ci-après « les Contributions ») et en la télétransmission de ces
Contributions sur le site internet de la plateforme, accessible à l'adresse https://tacteo-huma-
num.fr/ en respectant les caractéristiques définies à l'article « Caractéristiques des
contributions » des présentes conditions générales d’utilisation.
Cette participation est volontaire, bénévole et citoyenne.</p>

<p>Les participants, lorsqu’ils sont porteurs de projets peuvent mettre en ligne des corpus pour
les faire annoter corriger et/ou transcrire. Pour cela le projet doit être un projet de recherche publique.</p>

<p>Les personnes porteuses de projet s’engagent à disposer de l’ensemble des droits nécessaires pour la reproduction, représentation, diffusion et publication sur ce corpus, et notamment des droits de propriété intellectuelle. En cas de recours, ce sont elles qui seront les seuls responsables.</p>

<h3 id="contribs">Caractéristiques des contributions</h3>
<p>Les personnes participantes, y compris celles porteuses de projet, s'engagent notamment à ne pas diffuser de Contributions ou de corpus, quelque soit leur nature ou leur forme constituant un comportement manifestement inapproprié ou illicite.</p>

<p>L’éditeur de la plateforme se réserve la possibilité de couper les accès du ou de la participante.</p>

<h3>Propriété intellectuelle des contributions</h3>
<p>L’ensemble des Contributions des Participants est sous licence selon les termes de la <a href="https://creativecommons.org/licenses/by/4.0/deed.fr">Licence Creative Commons Attribution 4.0 International (CC BY 4.0).</a></p>

<h3>Garanties</h3>
<p>Les personnes participantes, y compris porteuses des projets, garantissent la plateforme contre tout trouble, action, réclamation, opposition, revendication, responsabilité, perte, dommage, coûts ou frais subis par la plateforme liés à&nbsp;: (1) toute violation des présentes conditions générales d’utilisation par un participant&nbsp;; (2) la diffusion des Contributions.</p>

	  
<h3>Responsabilités</h3>
<ul>
  <li>Malgré les soins apportés à la réalisation du site et sa mise à jour régulière, la responsabilité des éditeurs ne peut être engagée suite à d’éventuelles erreurs ou omissions dans le contenu publié.</li>
  <li>Les éditeurs ne sauraient être responsables et déclinent toute responsabilité en cas de dommages résultant de la perte des contributions ou des médias déposés sur la plateforme. Il relève de la responsabilité des participants de conserver une copie durable de toute contribution transmise à l'occasion de la participation.</li>
  <li>Les porteurs s’engagent à disposer de l’ensemble des droits nécessaires pour la reproduction, représentation, diffusion et publication d'un corpus, et notamment des droits de propriété intellectuelle. En cas de recours les porteurs du projet seront les seuls responsables.</li>
  <li>Les participants, y compris les porteurs de projet, s'engagent notamment à ne pas diffuser de contributions ou de corpus, quelque soit leur nature ou leur forme constituant un comportement manifestement inapproprié ou illicite. L’éditeur de la plateforme se réserve la possibilité de couper les accès du participant.</li>
  <li>Les   participants, y compris les porteurs des projets, garantissent la plateforme contre tout trouble, action, réclamation, opposition, revendication, responsabilité, perte, dommage, coûts ou frais subis par la plateforme liés à toute violation des présentes conditions générales d’utilisation par un participant.</li>
</ul>

<h2>Données personnelles</h2>
<p>
  Conformément à Loi n°78-17 du 6 janvier 1978 modifiée relative à l’informatique, aux fichiers
et aux libertés modifiée notamment par la loi n°2018-493 du 20 juin 2018 relative à la
protection des données personnelles ainsi qu’au règlement général sur la protection des
données (RGPD), vous disposez d’un droit d’information, d’accès, de rectification et de
suppression des données nominatives vous concernant.
Vous pouvez l’exercer par mail en écrivant à tacteo[at]groupes.renater.fr ou au délégué à la
protection des données (DPO) de l’UGA : dpo[at]univ-grenoble-alpes.fr ou de l’UL : dpo-
contact[at]univ-lorraine.fr
ou encore le DPD du CNRS à l’adresse suivante :
DPD (déléguée à la protection des données), 17, rue notre Dame des Pauvres,
54 519 VANDOEUVRE LÈS NANCY Cedex.
</p>

<h3>Qui est concerné&nbsp;?</h3>
<p>Les personnes disposant d’un compte utilisateur sont concernées par le traitement de données personnelles.</p>

<h3>Quelles données traitons-nous&nbsp;?</h3>
<p>
  Les données personnelles collectées sont : courriel et nom d’utilisateur (complétés
par l’utilisateur lors de son inscription) ainsi que la date d'inscription, la date de
dernier accès à la plateforme et les logs liés à la contribution de l'utilisateur.
De plus, conformément à l’Art. 6-II de la loi n°2004-575 du 21 juin 2004 pour la
confiance dans l’économie numérique ; décret n°2011-219 du 25 février 2011 relatif à
la conservation et à la communication des données des journaux, nous conservons
les journaux de connexion pendant une durée minimale d’un an.
</p>
<p>NB. Pour chaque projet de transcription auquel l'utilisateur est inscrit, sont
conservées les informations suivantes : statut dans le cadre du projet (relecteur,
transcripteur, gestionnaire), état de la validité du statut ; dates de mise à jour des
transcriptions, soumission de relecture et demande de relecture) ; participation à la
constitution d'une transcription et statut associé de l'utilisateur</p>

<h3>Pendant combien de temps les conservons-nous&nbsp;?</h3>
<p>
  Vos données personnelles sont conservées pendant trois ans après la dernière activité du compte sur le site.
</p>


<h3>Quels sont vos droits&nbsp;?</h3>
<p>
  Vous pouvez à tout moment, exercer les droits d’opposition, d’accès, de rectification, d’effacement, ainsi que le droit à une utilisation restreinte lorsque les données ne sont pas nécessaires ou ne sont plus utiles et le droit à la portabilité.
</p>

<h3>Comment exercer vos droits&nbsp?</h3>
<p>En nous contactant par courriel ou courrier (voir plus haut)</p>
<p>Si vous estimez, après nous avoir contacté (n'hésitez pas à nous relancer et laissez nous le temps de répondre, surtout en période de vacances&nbsp!), que vos droits Informatique et Libertés ne sont pas respectés, vous avez la possibilité́ d’introduire une réclamation en ligne ou par courrier postal auprès de la CNIL.

<h2>Licence</h2>
<p>
  Ce site est publié par l’UMR 5316 Litt&Arts et l’UAR 3261 MSH Lorraine dans le
cadre de la plateforme TACTEO. Ce site et l'ensemble des textes qui y sont publiés
sont proposés selon les termes de la <a target="_blank" href="https://creativecommons.org/licenses/by/4.0/deed.fr">Licence Creative Commons Attribution 4.0 International (CC BY 4.0)</a><br/>
  <img style="border-width:0" src="https://licensebuttons.net/l/by/3.0/88x31.png" />
</p>



          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
