{% import "media/macros.html.twig" as macros %}
<iframe
        src="{{ media.pdf ? macros.mediaViewURL(media) ~ '#navpanes=0': '' }}"
        class="pdf-viewer"
        height="100%"
        width="100%"
>
</iframe>
