{% import "media/macros.html.twig" as macros %}

{% set mediaURL = macros.mediaViewURL(media) %}

<div class="video-player">
    {% if media.videoType == 'youtube' %}
        <iframe
                width="640"
                height="360"
                src="https://www.youtube.com/embed/{{ media.url }}"
                frameborder="0"
                allowfullscreen></iframe>
    {% elseif media.videoType == 'vimeo' %}
        <iframe
                title="vimeo-player"
                src="https://player.vimeo.com/video/{{ media.url }}"
                width="640"
                height="360"
                frameborder="0"
                allowfullscreen>
        </iframe>
    {% elseif media.videoType == 'peertube' %}
        <iframe
                width="640"
                height="360"
                src="https://peertube.fr/videos/embed/{{ media.url }}"
                allowfullscreen=""
                frameborder="0"
                sandbox="allow-same-origin allow-scripts allow-popups">

        </iframe>
    {% elseif media.videoType == 'canal-u' %}
        <iframe
                width="640"
                height="360"
                src="https://www.canal-u.tv/embed/{{ media.url }}"
                allowfullscreen=""
                frameborder="0"
                sandbox="allow-same-origin allow-scripts allow-popups">

        </iframe>
    {% else %}
        <video src="{{ mediaURL }}" controls width="640" height="360"></video>
    {% endif %}
</div>
