<!DOCTYPE html>
{% set platform = '' | getPlatformParams %}
<html lang="{{ app.request.locale|split('_')[0] }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
    {% block title %}
      {{ platform.name }}
    {% endblock %}
    </title>
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}" />
    <link rel="stylesheet" href="{{ asset('build/css/toastr.css') }}" />
    {% endblock %}
  </head>
  <body>

  {% if platform.color %}
  <style>
  :root {
    --main-color: {{platform.color}};
  }
  </style>
  {% endif %}

  {{ include('base-include/navbar.html.twig') }}

  <div id="main-container" class="container-fluid">
    {{ include('base-include/flashmessages.html.twig') }}
    {% block body %}{% endblock %}
  </div>

  {{ include('base-include/footer.html.twig') }}

  {% block javascripts %}
  <script src="{{ asset('build/manifest.js') }}"></script>
  <script src="{{ asset('build/vendor.js') }}"></script>
  <script src="{{ asset('build/js/app.js') }}"></script>
  {% endblock %}
</body>
</html>
