// customize some Bootstrap variables
// $brand-primary: darken(#428bca, 20%);
// the ~ allows you to reference things in node_modules
@import '~bootstrap/scss/bootstrap';
/* BOOTSTRAP OVERRIDE
--------------------------- */

:root {
  --main-color: #f5ac11;
  --secondary-color: #000000;
}

html {
  font-size: 0.90rem;
}

body,
html {
  background-color: var(--main-color);
  color: white;
}

body > .container-fluid {
  padding-top: 40px;
  margin: 0 !important;
  padding: 0 !important;
}

label.required:after {
  color: red;
  content: " *";
}

button > * {
  pointer-events: none;
}

h2.edito {
  padding-bottom: 8px;
  margin-bottom: 18px;
  margin-top: 8px;
  border-bottom: 4px solid var(--main-color);
  font-size: 2.3rem;
}

.nav-item {
  border-bottom: 4px solid white;
  &:hover{
  border-bottom: 4px solid var(--main-color);
  }
}

.nav-tabs a,
.nav-tabs a:focus,
.nav-tabs a:hover {
  outline: 0;
}

.btn-orange {
  background-color: var(--main-color);
  color: black;

  &:hover {
    color: var(--main-color);
    background-color: black;
  }
}

.btn-link {
  color: #888;

  &:hover {
    color: #aaa;
  }
}

.custom-file-input,
.custom-file-label {
  overflow: hidden;
}

#footer {
  padding: 0.2rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 0.05rem solid #e5e5e5;
}

footer#footer .btn {
	padding-left: .5rem !important;
	padding-right: .5rem !important;
}

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1340px !important;
  }
}

/* OPENSEADRAGON
******************/
.openseadragon-buttons {
  margin-bottom: 10px;
}

#seadragon-viewer {
  width: 100%;
  height: 800px;
  background-color: #f8f9fa;
}

.logo-bottom {
  margin: 5px;
  height: 32px;
}
/* CUSTOMIZE INTROJS
--------------------------------------------------
*/
.introjs-skipbutton:not(.introjs-donebutton) {
  display: none !important;
}

.introjs-donebutton {
  // font-weight: bold !important;
  color: black !important;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
.carousel-custom {
  background-size: cover;
  background-repeat: no-repeat;
}

.project-image-row {
  margin-bottom: 15px;
}

.project-description {
  min-height: 50px;
}
/* Declare heights because of positioning of img element */
.carousel-item {
  background-color: var(--main-color);
  min-height: 20rem;
  background-image: url("../img/px_by_Gre3g.png");
}

#register-container {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#secondary-nav {
  height: 48px;
  background-color: var(--main-color);
  z-index: 10;
  color: black;

  a {
    color: black;

    &.active {
      text-decoration: underline;
    }
  }
}

#main-container {
  padding: 1rem;
}
/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 110%;
    line-height: 1.4;
  }
}
/* COMMON
----------------- */
.platform-logo {
  height: 48px;
}

.user-profile-image {
  width: 150px;
  text-align: center;
  padding: 5px;
  border: 1px solid #eee;
  border-radius: 5px;
}

.user-profile-description * {
  font-size: 15px;
}
/* HOME
------------------ */
#home {
  background-color: white;
  color: black;
  height: 100%;
  min-height: calc(100vh - 115px);
  overflow-x: hidden;
}

#home .row {
  padding: 50px;
}

.transition {
  transition: all 0.5s;
}

#last-contribs-wrapper {
  margin: 4rem 0;
  width: 100vw;
  margin-left: -1rem;
  color: black;
  background-color: white;
  min-height: 200px;
  padding: 2rem;
}

#last-contribs-wrapper h1{
  font-size: 2rem;
  margin-bottom: 2rem;
}

#last-contribs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}

#last-contribs div {
  width: 30%;
}

#last-contribs div {
  border-left: 6px solid var(--main-color);
  padding: 0.5rem;
}

#archived-wrapper {
  margin: 4rem 0;
  width: 100vw;
  margin-left: -1rem;
  color: black;
  background-color: white;
  min-height: 200px;
  padding: 2rem;
}

#archived-wrapper h1{
  font-size: 2rem;
  margin-bottom: 2rem;
}

/* project hover*/
.project {
  position: relative;
  overflow: hidden;
  border: $border-width $border-color solid;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  line-height: 150px;
  text-align: center;

  .project-tile-desc {
    width: 95%;
    position: absolute;
    word-wrap: break-word;
    top: 0;
    left: 50%;
    transform: translate(-50%, -20%);
    opacity: 0;
    font-weight: 300;
    line-height: 50px;
  }

  .project-tile-action {
    width: 100%;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -20%);
    opacity: 0;
  }

  &.hover:hover {
    .project-tile-desc {
      top: 10%;
      opacity: 1;
      line-height: 25px;
    }

    .project-tile-action {
      top: 60%;
      opacity: 1;
    }

    .project-tile-title {
      opacity: 0;
    }
    background: rgba(0, 0, 0, 0.2);
  }
}
/* USER PROFILE  */
.avatar-container {
  background-color: black;
  padding: 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  text-align: center;
  color: white;
}

.avatar-flip {
  border-radius: 100px;
  overflow: hidden;
  height: 150px;
  width: 150px;
  position: relative;
  margin: auto;
  top: -30px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  box-shadow: 0 0 0 13px #f0f0f0;
  -webkit-box-shadow: 0 0 0 13px #f0f0f0;
  -moz-box-shadow: 0 0 0 13px #f0f0f0;
}

.avatar-flip img {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

.avatar-email {
  color: #00baff;
  letter-spacing: 1px;
}
/* TRANSCRIPTION */
.tinymce-transcription {
  width: 100%;
  min-height: 500px;
}

.transcription-panel-content {
  padding-top: 15px;

  #comments,
  #edit-full,
  #help-full,
  #logs,
  #preview,
  #reviews {
    min-height: 440px;
  }
}

.selected-element {
  display: none;

  input:invalid {
    border: red solid 3px;
  }
  
  .element-attributes-container {
    margin-bottom: 10px;
    display: none;
  }

  .elements-container {
    display: none;
  }

  .card-header,
  .list-group-item {
    padding: 0.30rem;
  }

  .tei-element-li {
    span {
      vertical-align: -moz-middle-with-baseline;
      vertical-align: -webkit-baseline-middle;
    }

    .btn-group {
      float: right;
    }
  }
}
/* medias & directories manage & transcribe */
.project-directory-card .card-body,
.project-image-card .card-body {
  min-height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-wrap: anywhere;
}

.project-directory.card-img-top,
.project-image.card-img-top {
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 0) {
  .project-directory.card-img-top,
  .project-image.card-img-top {
    height: 40vh;
  }
}
@media (min-width: 576px) {
  .project-directory.card-img-top,
  .project-image.card-img-top {
    height: 30vh;
  }
}
@media (min-width: 768px) {
  .project-directory.card-img-top,
  .project-image.card-img-top {
    height: 25vh;
  }
}
@media (min-width: 992px) {
  .project-directory.card-img-top,
  .project-image.card-img-top {
    height: 25vh;
  }
}
@media (min-width: 1200px) {
  .project-image.card-img-top {
    height: 25vh;
  }
}
/* TEST PROJECT LIST */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
  gap: 24px;
  margin: 2rem 0;
}

.project-card {
  background: #fff;
  color: #474747;
  border-radius: 8px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  -webkit-filter: drop-shadow(0 5px 15px rgba(0,0,0,.24));
  filter: drop-shadow(0 5px 15px rgba(0,0,0,.24));
  display: flex;
  flex-direction: column;
}

.project-thumbnail-wrap {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  display: block;
  border-bottom: 1px solid lightgrey;
}

.project-thumbnail-wrap::after {
  pointer-events: none;
  content: "";
  background: linear-gradient(130deg,#ff7a18,#af002d 41.07%,#319197 76.05%);
  mix-blend-mode: screen;
  position: absolute;
  top: 0;
  left: 0;
}

.project-content {
  flex: 1;
  position: relative;
  z-index: 5;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.project-tags {
  font-family: Gotham Narrow SSm A,Gotham Narrow SSm B,Rubik,Lato,Lucida Grande,Lucida Sans Unicode,Tahoma,Sans-Serif;
  font-style: normal;
  text-transform: uppercase;
  color: #ff7a18;
  font-size: 0.66rem;
  -webkit-margin-end: 0.66rem;
  margin-inline-end: 0.66rem;
}

a.project-title {
  text-decoration: none;
  color: #111;
  font-family: Gotham Narrow SSm A,Gotham Narrow SSm B,Rubik,Lato,Lucida Grande,Lucida Sans Unicode,Tahoma,Sans-Serif;
  font-size: clamp(1.4rem,calc(1.4rem + .2vw),2.5rem);
  font-style: normal;
  letter-spacing: -.05rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.project-stats {
  margin: 0 0 0.5rem;
}

.project-grid.archived {
  grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
  filter: grayscale(80%);
}

h1.main.page-title {
  font-family: Gotham Narrow SSm A,Gotham Narrow SSm B,Rubik,Lato,Lucida Grande,Lucida Sans Unicode,Tahoma,Sans-Serif;
  font-style: normal;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 1;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  background-color:black;
  text-align: center;
  position:relative;
  top: -1.5rem;
  left: 25%;
  display: inline;
}

h1.page-title {
  font-family: Gotham Narrow SSm A,Gotham Narrow SSm B,Rubik,Lato,Lucida Grande,Lucida Sans Unicode,Tahoma,Sans-Serif;
  font-style: normal;
  font-size: 2.5rem;
  line-height: 1;
  color: black;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: -1rem;
}

#homepage-title {
  font-family: Gotham Narrow SSm A,Gotham Narrow SSm B,Rubik,Lato,Lucida Grande,Lucida Sans Unicode,Tahoma,Sans-Serif;
  font-style: normal;
  font-size: clamp(2rem,calc(2rem + 1.2vw),3rem);
  font-variant: small-caps;
  margin: 0 0 1.5rem;
  line-height: 1.1;
  color: black;
  text-align: center;
}

.card {
  color: black;
  background-color: white;
}

.introjs-tooltiptext,
.list-group-item,
.modal {
  color: black;
}

.tact-link,
.tact-link:hover {
  text-decoration: underline dotted;
}

.bg-white {
  background-color: white;
  color: black;
}

#main-container {
  min-height: calc(100vh - 115px);
}

.diff-wrapper {
  font-size: 0.70rem;
  max-width: 100%;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  white-space: normal;
  color: grey;

  td {
    width: 50%;
    border: 1px solid lightgrey;
  }

  del {
    background-color: red;
    color: white;
  }

  ins {
    background-color: green;
    color: white;
  }
}

#action-bar {
  background-color: lightgrey;
  margin-top: -1rem;
  margin-bottom: 1rem;
  padding: 10px 0;
}

.pdf-viewer {
  min-height: calc(100vh - 250px);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
}

.media-modal-content {
  position: relative;
}

.media-viewer-content {
  width: 100%;
  position: relative;
}

.media-navigator {
  display: flex;
  justify-content: center;
  gap: 2px;
  padding: 4px 0;
}

.audio-player {
  width: 100%;
  display: block;
}

.video-player-preview, .video-player iframe, .video-player video  {
  display: block;
  margin: 16px auto;
}
.video-player-transcription {

}

.project-instructions {
  padding: 16px 0;
}
