.project-image {
  width: 100%;
  display: block;
  cursor: pointer;
}

.status {
  &.none {
    border-left: 1px solid theme-color("danger");
    border-right: 1px solid #eee;
    border-top: 1px solid #eee;
    border-bottom: 5px solid theme-color("danger");
  }
  &.in-progress {
    border-left: 1px solid theme-color("warning");
    border-right: 1px solid #eee;
    border-top: 1px solid #eee;
    border-bottom: 5px solid theme-color("warning");
  }
  &.in-reread {
    border-left: 1px solid theme-color("info");
    border-right: 1px solid #eee;
    border-top: 1px solid #eee;
    border-bottom: 5px solid theme-color("info");
  }
  &.validated {
    border-left: 1px solid theme-color("success");
    border-right: 1px solid #eee;
    border-top: 1px solid #eee;
    border-bottom: 5px solid theme-color("success");
  }
}

.media-upload-card {
  margin-bottom: 15px;
}

.max-file-upload-msg {
  margin-bottom: 15px;
}
.project-tree-col {
  border-right: 1px solid #eee;
}


.tree-inner-list {
  padding-left: 15px;
}


.media-list-row {
    margin-top: 15px;
}

.card-header-icon {
  cursor: pointer;
  padding: 0;
  color: #999;
  &:hover {
    color: black;
  }
}

.btn-link-no-padding {
  padding: 0;
  &.black {
    color: #999;
    &:hover {
      color: black;
    }
  }
}

.media-buttons-container {
  flex: 1;
  justify-content: space-between;
}

.media-file-type-container, .media-storage-container {
  display: flex;
  align-items: center;
}

.media-file-type {
  font-size: 18px;
}

.media-storage-type {
  font-size: 16px;
}

.bg-tertiary {
  background-color: #d7d7d7 !important;
}