<script>
    import {form, field} from 'svelte-forms';
    import {required} from 'svelte-forms/validators';
    import UploadModal from './upload-modal.svelte'

    export let mediaServers;
    export let messages = {};
    export let directoryId = null;
    export let router;

    let formData = {};
    let importUrl = null;

    const path = field('path', '', [required()], {valid: false});
    const server = field('server', '', [required()], {valid: false});

    const importForm = form(path, server);

    let modalVisible = false;
    const submitForm = () => {
        formData = importForm.summary();
        importUrl = router.generate('media_server_import', {
            mediaServer: formData.server,
            current: directoryId,
        })
        modalVisible = true;
    }

    const fetchFilesCallback = async () => {
        const url = router.generate('media_server_fetch_media_files', {
            id: formData.server
        })

        const response = await fetch(
            url,
            {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({path: formData.path}),
            }
        )

        if (!response.ok) {
            throw new Error();
        }

        const data = await response.json();

        return data.medias;
    }
</script>

<form on:submit|preventDefault={submitForm}>
    {#if mediaServers.length > 0}
        <div class="alert alert-info">
            {@html messages.helpMessage}
        </div>
        <div id="media_server_import" class="cloud-upload-form">
            <div class="form-group">
                <label
                        for="media-server-import-path"
                        class="required"
                >
                    {@html messages.pathInputLabel}
                </label>
                <input
                        type="text"
                        id="media-server-import-path"
                        required="required"
                        class="form-control"
                        bind:value={$path.value}
                >
                {#if $importForm.hasError('path')}
                    <div class="invalid-feedback">
                        {@html messages.pathErrorMessage}
                    </div>
                {/if}
            </div>
            <div class="form-group">
                <label class="required" for="media-server">
                    {@html messages.mediaServerLabel}
                </label>
                <select
                        id="media-server"
                        name="mediaServer"
                        class="form-control"
                        bind:value={$server.value}

                >
                    {#each mediaServers as server}
                        <option value="{server.id}">{@html server.name}</option>
                    {/each}
                </select>
                <div class="invalid-feedback">
                    {@html messages.mediaServerErrorMessage}
                </div>
                <small id="media_server_import_mediaServer_help" class="form-text text-muted">
                    {@html messages.mediaServerHelp}
                </small>
            </div>
            <div class="form-group">
                <button
                        type="submit"
                        id="media_server_import_save"
                        class="btn btn-primary btn"
                        disabled={!$importForm.valid}
                >
                    {@html messages.submitButtonLabel}
                </button>
            </div>
        </div>
    {:else}
        <div class="alert alert-warning">
            {@html messages.emptyServersMessage}
        </div>
    {/if}
    <UploadModal
            messages={messages}
            importUrl={importUrl}
            onClose={() => modalVisible = false}
            fetchFilesCallback={fetchFilesCallback}
            visible={modalVisible}/>
</form>
