<script>
    import {form, field} from 'svelte-forms';
    import UploadModal from './upload-modal.svelte'
    import {required} from 'svelte-forms/validators';

    export let messages = {};
    export let directoryId = null;
    export let projectId = null;

    export let router;

    let formData = {};
    let importUrl = null;

    const links = field('links', '', [required()], {valid: false});

    const importForm = form(links);

    let modalVisible = false;
    const submitForm = () => {
        formData = importForm.summary();
        importUrl = router.generate('media_server_import_direct_links', {
            project: projectId,
            current: directoryId,
        })
        modalVisible = true;
    }

    const fetchFilesCallback = async () => {
        const url = router.generate('media_server_fetch_direct_links', {project: projectId})

        const response = await fetch(
            url,
            {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({links: formData.links.split('\n')}),
            }
        )

        if (!response.ok) {
            throw new Error();
        }

        const data = await response.json();

        return data.medias;
    }

</script>

<form on:submit|preventDefault={submitForm}>
    <div class="alert alert-info">
        {@html messages.directLinksIntroMessage}
    </div>
    <div id="media_server_direct_link" class="cloud-upload-form">
        <div class="form-group">
            <label class="required" for="direct-links-input">
                {@html messages.directLinksLabel}
            </label>
            <textarea
                    name="links"
                    id="direct-links-input"
                    cols="30"
                    rows="7"
                    class="form-control"
                    bind:value={$links.value}
            />
            <div class="invalid-feedback">
                {@html messages.directLinksErrorMessage}
            </div>
            <small id="media_server_import_mediaServer_help" class="form-text text-muted">
                {@html messages.directLinksHelp}
            </small>
        </div>
        <div class="form-group">
            <button
                    type="submit"
                    id="media_server_import_save"
                    class="btn btn-primary btn"
                    disabled={!$importForm.valid}
            >
                {@html messages.submitButtonLabel}
            </button>
        </div>
    </div>
    <UploadModal
            messages={messages}
            importUrl={importUrl}
            fetchFilesCallback={fetchFilesCallback}
            onClose={() => modalVisible = false}
            visible={modalVisible}/>
</form>
