<script>
    import {writable} from 'svelte/store';

    let selection = new Map();
    const selectionStore = writable(selection);
    export let files = []

    export let messages = {};

    export let onChangeSelection;

    let toggleSelection = (file, isAdd) => {
        if (isAdd) {
            selection.set(file.url, file);
        } else {
            selection.delete(file.url);
        }

        toggleChangeSelection();
    }

    let toggleAllSelection = (isSelectAll) => {
        if (isSelectAll) {
            for (const file of files) {
                if (!file.exists) {
                    selection.set(file.url, file);
                }
            }
        } else {
            selection = new Map();
        }

        toggleChangeSelection();
    }

    const toggleChangeSelection = () => {
        selectionStore.set(selection);

        onChangeSelection(selection);
    }

    const isAllSelected = () => $selectionStore.size === files.filter((file) => !file.exists).length;

</script>

<div class="table-container">
    <div>
        <span class="text-black-50">{@html messages.countFetchedText}:</span>
        <span class="media-items-count">{files.length}</span>
    </div>
    <div>
        <span class="text-black-50">{@html messages.countSelectedText}:</span>
        <span class="media-items-count-selected">{$selectionStore.size}</span>
    </div>
    <table class="table table-hover media-server-items-table">
        <thead>
        <tr>
            <th scope="col">
                <input
                        type="checkbox"
                        checked={isAllSelected()}
                        on:click={(event) => toggleAllSelection(event.target.checked)}>
            </th>
            <th scope="col">{@html messages.fileUrlText}</th>
            <th scope="col">{@html messages.existsInProjectText}</th>
        </tr>
        </thead>
        <tbody>
        {#each files as file}
            <tr>
                <td>
                    <input
                            type="checkbox"
                            disabled={file.exists}
                            checked={$selectionStore.has(file.url)}
                            on:click={(event) => toggleSelection(file, event.target.checked)}>
                </td>
                <td>
                    {#if file.thumbnailUrl}
                        <a href="{file.url}" target="_blank" rel="noreferrer">
                            <img src={file.fullThumbnailUrl ? file.fullThumbnailUrl : file.thumbnailUrl} alt=""
                                 class="thumbnail">
                        </a>
                    {/if}
                    <a href="{file.url}" target="_blank" rel="noreferrer">{file.fileName}</a>
                </td>
                <td>
                    {#if file.exists}
                        <span><i class="far fa-check-circle"></i></span>
                    {:else}
                        -
                    {/if}
                </td>
            </tr>
        {/each}
        </tbody>
    </table>
</div>

<style>
    .thumbnail {
        max-width: 80px;
        display: inline-block;
        padding-right: 8px;
    }
</style>
