<script>
    import FilesTable from './files-table.svelte';

    export let visible = false;
    export let messages = {};
    export let onClose;
    export let fetchFilesCallback;
    export let importUrl;

    let loading = false;

    let importing = false;

    let prevVisible = false;

    let errorMessage;

    let selection;

    let files;

    let modal;

    const fetchFiles = async () => {
        errorMessage = null;
        loading = true;
        files = null;

        try {
            files = await fetchFilesCallback();
            if (!Array.isArray(files)) {
                throw new Error('Files not found');
            }
        } catch (error) {
            errorMessage = messages.loadingErrorText;
        } finally {
            loading = false;
        }
    }

    const onChangeSelection = (selectedItems) => selection = selectedItems;

    const importFiles = async () => {
        importing = true;
        errorMessage = null;

        const payload = {
            files: []
        };

        for (const {url, fileName, thumbnailUrl, type} of selection.values()) {
            payload.files.push({url, fileName, thumbnailUrl, type})
        }

        try {
            const response = await fetch(
                importUrl,
                {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(payload),
                }
            )

            if (response.ok) {
                window.location.reload();
            } else {
                errorMessage = messages.importingErrorText;
            }
        } catch (error) {
            errorMessage = messages.importingErrorText;

        } finally {
            importing = false;
        }
    }

    $: {
        if (visible && visible !== prevVisible) {
            jQuery(modal)
                .modal('show')
                .on('hidden.bs.modal', function () {
                    onClose()
                })

            fetchFiles();
        }
        prevVisible = visible;
    }
</script>

<div bind:this="{modal}" class="modal fade media-server-result" tabindex="-1" role="dialog"
     aria-labelledby="anonymizeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="anonymizeModalLabel">{@html messages.titleText}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {#if loading || importing}
                    <div class="text-center">
                        <div class="spinner-border text-success" role="status">
                            <span class="sr-only">{@html messages.loadingText}</span>
                        </div>
                        <div>
                            <span>{@html loading ? messages.loadingText : messages.importingText}</span>
                        </div>
                    </div>
                {/if}
                {#if errorMessage}
                    <div class="alert alert-danger" role="alert">
                        {@html errorMessage}
                    </div>
                {/if}
                {#if !loading && files}
                    <FilesTable
                            files={files}
                            messages={messages}
                            onChangeSelection={onChangeSelection}
                    />
                {/if}
            </div>
            <div class="modal-footer">
                <button
                        type="button"
                        class="btn btn-secondary"
                        data-action="cancel"
                        data-dismiss="modal">
                    {@html messages.cancelText}
                </button>
                <button
                        type="button"
                        class="btn btn-danger import-confirm-button"
                        disabled={!selection || selection.size <= 0}
                        on:click={importFiles}
                >
                    {@html messages.confirmText}
                </button>
            </div>
        </div>
    </div>
</div>
