{% import "media/macros.html.twig" as macros %}

{% set transcriptionStatus = media.transcription|transcriptionStatus %}

<div class="row" id="action-bar">
  <div class="col">
    {{ macros.backToParentDir(media)}}
    <div class="btn-group" data-step="13" data-intro="{{'help_download'|trans}}">
      <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-file-download"></i>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" download href="{{path('media_download_transcription',{'id':media.id})}}">{{'download_transcription' | trans}}</a>
        {% if media.url is not null %}
          {% set url = (media.IiifServer is null) ? path('media_download_media',{'id':media.id}) : macros.mediaURL(media) %}
          <a target="_blank" class="dropdown-item" download href="{{url}}">{{'download_media'|trans}}</a>
        {% endif %}
      </div>
    </div>
    <span class="btn btn-sm btn-link disabled text-body">
    {{media.name}}
    </span>
    <!-- {{ include('media/status.html.twig') }} -->
  </div>

  <div class="col text-right">
    {% if edit is defined and edit == true and review == false %}
      <span>
        <button id="main-save-btn" class="btn btn-sm btn-secondary btn-save-transcription" data-id="{{media.id}}" data-intro="{{'help9'|trans}}" data-step="9">
          <i class="fas fa-save"></i> {{'save' | trans}}
        </button>
        <button class="btn btn-sm btn-secondary btn-validation-modal" data-pid="{{project.id}}" data-id="{{media.id}}" type="button" name="button"  data-intro="{{'help10'|trans}}" data-step="10">
          <i class="fas fa-check-circle"></i> {{'transcription_send_to_validation' | trans}}
        </button>
        {% if media.transcription.content == "" and platform.tesseractUrl and project.tesseractLanguage %}
        <button
                class="btn btn-secondary btn-sm btn-tesseract"
                data-url="{{ macros.mediaURL(media) }}"
                data-id="{{media.id}}"
                type="button"
                name="button"
                data-toggle="tooltip"
                title="{{'tesseract_help' | trans}}"
                data-intro="{{'tesseract_help_intro'|trans}}"
                data-step="11"
                {{ media.isRecognizable ? '' : 'disabled' }}
        >
          <i class="fas fa-snowplow"></i> {{'tesseract_btn' | trans}}
        </button>

        {# tesseract modal #}
        <div class="modal fade" id="tesseract-modal" tabindex="-1" role="dialog"  aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">{{'tesseract_title'| trans}}</h5>
                </div>
                <div class="modal-body text-center">
                  <div class="fa-3x">
                    <i class="fas fa-spinner fa-spin"></i>
                  </div>
                  {{'tesseract_text'| trans({'%langs%': project.tesseractLanguage})}}
                </div>
            </div>
          </div>
        </div>
        {% endif %}
      </span>
    {% elseif locked is defined and locked == true and edit == false %}
        <span class="btn btn-sm btn-danger disabled">{{'transcription_is_locked' | trans}}</span>
    {% endif %}

    {% if review == true %}
      <span class="btn btn-sm btn-info disabled">
        {{'transcription_current_nb_validations' | trans({'%1%': nbCurrentValidation, '%2%': project.nbValidation})}}
      </span>
      {% if edit %}
        <button id="main-save-btn" class="btn btn-sm btn-secondary btn-save-transcription" data-id="{{media.id}}" data-intro="{{'help9'|trans}}" data-step="9">
          <i class="fas fa-save"></i> {{'save' | trans}}
        </button>
      {% endif %}
        <button data-toggle="modal" data-target="#validation-modal" class="btn btn-sm btn-secondary" data-intro="{{'help11'|trans}}" data-step="10">
          <i class="fas fa-glasses"></i> {{'review_transcription' | trans}}
        </button>
    {% endif %}

    {% if project | isAuthorizedOnProject('validateTranscription') %}
      {% if media.transcription.isValid %}
        <a class="btn btn-sm btn-secondary" href="{{ path('media_transcription_validate', {id:  media.id, valid: 0})}}" data-toggle="tooltip" title="{{'transcription_unvalidate' | trans}}" >
          <i class="fas fa-thumbs-down" aria-hidden="true"></i>
        </a>
      {% else %}
      <a class="btn btn-sm btn-secondary" href="{{ path('media_transcription_validate', {id:  media.id, valid: 1})}}" data-toggle="tooltip" title="{{'transcription_validate' | trans}}">
        <i class="fas fa-thumbs-up"></i>
      </a>
      {% endif %}
    {% endif %}

    <span data-toggle="tooltip" title="{{'report_transcription'|trans}}" data-intro="{{'help12'|trans}}" data-step="12">
      <button class="btn btn-sm btn-secondary" data-toggle="modal" type="button" data-target="#report-modal">
        <i class="fas fa-exclamation-triangle"></i>
      </button>
    </span>

  </div>
</div>
