<span class="media-storage-container" title="{{ 'cloud_file'| trans }}">
{% if media.isCloudUrl %}
    <img style="width: 20px;height: 20px" src="{{ asset('img/cloud_download.svg') }}"/>
{% endif %}
</span>
