{% set class = 'media-file-type' %}
<span class="media-file-type-container">
{% if media.type == 'pdf' %}
    <i class="{{ class }} far fa-file-pdf" style="color: #af002d"></i>
{% elseif media.type == 'image' %}
    <i class="{{ class }} far fa-file-image" style="color: #285A78"></i>
{% elseif media.type == 'video' %}
    {% if media.videoType == 'youtube' %}
            <i class="{{ class }} fab fa-youtube" style="color: #ff0000"></i>
    {% elseif media.videoType == 'vimeo' %}
        <i class="{{ class }} fab fa-vimeo" style="color: #00adef"></i>
    {% else %}
        <i class="{{ class }} far fa-file-video"></i>
    {% endif %}
{% elseif media.type == 'audio' %}
    <i class="{{ class }} far fa-file-audio" style="color: #319197"></i>
{% endif %}
</span>
