{% import "media/macros.html.twig" as macros %}
{% import "project/macros.html.twig" as pmacros %}

{% if not displayAll %}
  {{ include('media/media-breadcrumb.html.twig', { 'project': project, 'parent': parent, 'from': from }) }}
{% endif %}

{{ include('media/filters.html.twig') }}

<div class="py-3 bg-light">
  <div class="container-fluid">
    <div class="row">
      {# AFFICHAGE DES DOSSIERS #}
      {% if not displayAll %}
        {% for dir in project.dirs if dir.parent == parent %}
          {% set childrenCount = dir.children|length %}
          {% set mediaCount = dir.medias|length %}
          {% if childrenCount > 0 or mediaCount > 0 %}
          {% set percents = dir|directoryPercents %}
          <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-2">
            <a class="card-link text-dark status {{percents[0] > 0 ? "validated"}} {{percents[1] > 0 ? "in-progress"}} {{percents[2] > 0 ? "in-reread"}} {{percents[3] > 0 ? "none"}}" data-name="{{ dir.name }}" href="{{(from == 'transcript') ? path('project_transcriptions', {id: project.id, parent: dir.id}) : path('project_media', {id: project.id, parent: dir.id})}}" >
              <div class="card project-directory-card mb-2">
                <div class="project-directory card-img-top">
                  <i class="far fa-folder-open fa-4x "></i>
                </div>
                <div class="card-body text-center">
                  {{ dir.name }}
                </div>
                <div class="card-footer">
                  {{ pmacros.displayPercents(percents) }}
                </div>
              </div>
            </a>
          </div>
          {% endif %}
        {% endfor %}
      {% endif %}

      {% set canTranscribe = project | isAuthorizedOnProject('transcribe') %}
      {% set canValidate = project | isAuthorizedOnProject('validateTranscription') %}
      {% set lastParent = null %}
      {% set lastPathMedia = null %}

      {# AFFICHAGE DES MEDIAS #}
      {% for media in medias %}
        {% set transcription = media.transcription %}
        {% set transcriptionStatus = transcription|transcriptionStatus %}
        {% set inMine = (media in mine) ? true : false %}
        {% set isLocked = (media in transcriptionsLocked) ? true : false %}
        {% set pathMedia = "" %}
        {% if displayAll %}
          {% if lastParent ==  media.parent %}
            {% set pathMedia = lastPathMedia %}
          {% else %}
            {% set ancestors =  media.parent | mediaBreadcrumb %}
            {% for ancestor in ancestors %}
              {% set pathMedia = pathMedia ~ ancestor.name ~ "/" %}
            {% endfor %}
          {% endif %}
          {% set lastParent = media.parent %}
          {% set lastPathMedia = pathMedia %}
        {% endif %}
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-2">
          <div class="card project-directory-card mb-2 status {{ transcriptionStatus }} {{ inMine ? "mine"}}" data-name="{{ pathMedia ~ media.name }}">
            <img loading="lazy" class="project-image card-img-top" src="{{ macros.mediaThumbnailURL(media) }}"
                 data-type="{{ media.type }}"
                 data-full="{{ macros.mediaViewURL(media) }}"
                 data-subtype="{{ media.videoType }}"
            />
            <div class="card-body p-2 border-top">
              <div class="d-flex media-buttons-container">
                {{ include('media/file-type-icon.html.twig', { 'media': media }) }}
                <div class="btn-group">
                  {# display #}
                  <a data-toggle="tooltip" title="{{'media_view_transcription_button_title'| trans}}" href="{{path('media_transcription_display', {'id': media.id})}}" class="btn btn-sm btn-outline-secondary">
                    <i class="fas fa-eye"></i>
                  </a>
                  {# transcribe #}
                  {% if not isLocked and canTranscribe and (transcriptionStatus == "none" or transcriptionStatus == "in-progress") %}
                  <a data-toggle="tooltip" title="{{'media_transcribe_button_title' | trans}}" href="{{path('media_transcription_edit', {'id': media.id,})}}" class="btn btn-sm btn-outline-secondary">
                    <i class="fas fa-pencil-alt"></i>
                  </a>
                  {% endif %}
                  {# review #}
                  {% if canValidate and transcriptionStatus == "in-reread" %}
                    <a data-toggle="tooltip" title="{{'media_reread_button_title' | trans}}" href="{{path('media_transcription_review', {'id': media.id,})}}" class="btn btn-sm btn-outline-secondary">
                      <i class="fas fa-edit"></i>
                    </a>
                  {% endif %}
                </div>
                {{ include('media/file-storage-type.html.twig', { 'media': media }) }}
              </div>
            </div>
            <div class="card-footer">
              <small class="text-muted">
                <div>{{ pathMedia ~ media.name }}</div>
                <div>
                {{ include('media/status.html.twig') }}
                {% if isLocked %}
                  <span class="badge badge-dark">{{"transcription_locked"|trans}}</span>
                {% endif %}
                {% if inMine %}
                  <span class="badge badge-secondary">{{"transcription_mine"|trans}}</span>
                {% endif %}
                </div>
              </small>
            </div>
          </div>
        </div>
      {% endfor %}
      {% if project.medias | length == 0  %}
      <div class="col-12 text-center">
        <h5>{{'project_media_no_media' | trans}}</h5>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{{ include('media/modal.html.twig') }}
