<div class="openseadragon-buttons text-center" data-intro="{{'help3'|trans}}" data-step="3">
  <button id="osd-zoom-in" type="button" class="btn btn-light">
    <i class="fas fa-search-plus"></i>
  </button>
  <button id="osd-zoom-out" type="button" class="btn btn-light">
    <i class="fas fa-search-minus"></i>
  </button>
  <button id="osd-left" type="button" class="btn btn-light">
    <i class="fas fa-undo"></i>
  </button>
  <button id="osd-right" type="button" class="btn btn-light">
    <i class="fas fa-redo"></i>
  </button>
</div>
<div id="seadragon-viewer" class="rounded"></div>
