{% extends "emails/master.html.twig" %}
{% block body %}
  {% trans_default_domain 'emails' %}
  {{ "email_new_registration_body"|trans({'%url%': url, '%projectName%': projectName})|raw }}
{% endblock %}
