{% extends "base.html.twig" %}

{% block body %}
  {% include 'project/navigation.html.twig' with {'current': 'project_edit'} %}
  <div id="main-container">
    <h1 class="page-title">{{"export"|trans}}</h1>
    <div class="row justify-content-center">
      <div class="col-8">
        <div class="card">
          <div class="card-body">
            <h5>{{"export_form_title"|trans}}</h5>
              {{ form_start(form) }}
              {{ form_row(form.dir) }}
              {{ form_row(form.transcription_status) }}
              {{ form_widget(form._token) }}
              {{ form_row(form.transcriptions) }}
              <div class="ml-4">
                {{ form_row(form.transcriptions_apply_xsl) }}
                {{ form_row(form.transcriptions_metadatas) }}
              </div>
              {{ form_end(form) }}
              {{ form_row(form.save) }}
            </div>
          </div>
        </div>
      </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('build/js/project-export.js') }}"></script>
  <script src="{{ asset('build/js/submit-disable.js') }}"></script>
{% endblock %}
