{% extends "base.html.twig" %}

{% block body %}
  {% include 'project/navigation.html.twig' with {'current': 'project_edit'} %}

  <div id="main-container">

    <h1 class="page-title">{{"invitation"|trans}}</h1>
    <div class="row justify-content-center">
      <div class="col-8">
        <div class="card">
          <div class="card-body">
              {{form(form) }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
