<ul class="list-group">
{% for log in logs %}
  <li class="list-group-item">
    {{ log.name|trans ~' '~ 'by'|trans }}
    <a target="_blank" href="{{ path('user_profile', {'id': log.user.id}) }}">{{log.user.username}}</a>
     - {{ log.createdAt|date("d/m/Y H:i") }}
    {% if log.diff %}
    <pre class="pb-2">{{log.diff|diff2html|raw}}</pre>
    {% endif %}
  </li>
{% endfor %}
</ul>
