<script>
    import {form, field, style} from 'svelte-forms';
    import {required, url} from 'svelte-forms/validators';
    import Youtube from '@sveltecasts/svelte-youtube';
    import {VimeoPlayer} from 'svelte-vimeo-player';

    const TYPE_YOUTUBE = 'youtube';
    const TYPE_VIMEO = 'vimeo';
    const TYPE_PEERTUBE = 'peertube';
    const TYPE_CANAL_U = 'canal-u';

    export let router;
    export let directoryId;
    export let projectId;

    export let messages = {};

    let inputRequired = true;
    let loading = false;
    let submitError = null;

    let videoId;
    let videoType;
    let submittedVideoId;

    const parseVideo = (url) => {
        if (!url) {
            return false;
        }

        const youtubeId = getYoutubeId(url)
        if (youtubeId) {
            return {
                id: youtubeId,
                type: TYPE_YOUTUBE,
            };
        }

        const vimeoId = getVimeoId(url)
        if (vimeoId) {
            return {
                id: vimeoId,
                type: TYPE_VIMEO,
            }
        }

        const peertubeId = getPeertubeId(url);
        if (peertubeId) {
            return {
                id: peertubeId,
                type: TYPE_PEERTUBE,
            }
        }

        const canalUId = getCanalUId(url);
        if (canalUId) {
            return {
                id: canalUId,
                type: TYPE_CANAL_U,
            }
        }

        return false;
    };

    function parsedVideo() {
        return (value) => ({valid: !!parseVideo(value), name: 'parsed'});
    }

    const urlInput = field('urlInput', '', [required(), url(), parsedVideo()], {valid: false});

    const videoForm = form(urlInput);

    urlInput.subscribe(({value, valid}) => {
        loading = true;
        videoId = null;
        videoType = null;

        if (valid) {
            const parsedResult = parseVideo(value);

            if (parsedResult) {
                videoId = parsedResult.id;
                videoType = parsedResult.type;
            }
        }

        loading = false;
    })

    const getYoutubeId = (link) => {
        if (!link) {
            return false;
        }

        const regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#&?]*).*/

        const match = link.match(regExp)

        return match && match[7].length === 11 ? match[7] : false
    }

    const getVimeoId = (link) => {
        if (!link) {
            return false;
        }

        const regExp =
            /^.*(vimeo\.com\/)((channels\/[A-z]+\/)|(groups\/[A-z]+\/videos\/))?([0-9]+)/

        const match = link.match(regExp)

        return match && match.length >= 5 ? match[5] : false
    }

    const getPeertubeId = (link) => {
        if (!link) {
            return false;
        }

        const regExp = /^.*(peertube\.fr)\/w\/([A-z0-9]+)/;

        const match = link.match(regExp)

        return match && match.length >= 3 ? match[2] : null;
    }

    const getCanalUId = (link) => {
        if (!link) {
            return false;
        }

        const regExp = /^.*(canal\-u\.tv)\/([a-z0-9\-_\/]+)\/embed\/([0-9]+)/;

        const match = link.match(regExp)

        return match && match.length >= 4 ? match[3] : null;
    }

    const submitForm = async () => {
        submitError = null;
        const importUrl = router.generate('project_import_cloud_video', {
            project: projectId,
            current: directoryId,
        });

        submittedVideoId = videoId;

        try {
            const response = await fetch(
                importUrl,
                {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({videoId, videoType}),
                }
            )

            if (!response.ok) {
                submitError = messages.submitError;
                return;
            }

            const data = await response.json();

            if (data.mediaId) {
                window.location.reload();
            }

        } catch (e) {
            submitError = messages.submitError;
        }
    }
</script>

<div>
    <form on:submit|preventDefault={submitForm}>
        <div class="form-group">
            <label
                    for="video-url"
                    class="required"
            >
                {@html messages.videoUrlLabel}
            </label>
            <input
                    type="text"
                    id="video-url"
                    required={inputRequired || null}
                    class="form-control"
                    use:style={{ field: urlInput, invalid: 'is-invalid',  valid: 'valid', dirty: 'was-validated' }}
                    bind:value={$urlInput.value}
            >
            <small id="project_media_video_files_help"
                   class="form-text text-muted">{@html messages.supportedVideoServices}</small>
            {#if $videoForm.hasError('urlInput.url')}
                <div class="invalid-feedback">
                    {@html messages.urlErrorMessage}
                </div>
            {:else if $videoForm.hasError('urlInput.parsed')}
                <div class="invalid-feedback">
                    {@html messages.videoNotFoundMessage}
                </div>
            {/if}

            {#if submitError && !!videoId && submittedVideoId === videoId}
                <div class="invalid-feedback" style="display: block">
                    {@html submitError}
                </div>
            {/if}

            {#if loading}
                <div class="text-center">
                    <div class="spinner-border text-success" role="status">
                        <span class="sr-only">{@html messages.loadingText}</span>
                    </div>
                    <div>
                        <span>{@html messages.loadingText}</span>
                    </div>
                </div>
            {/if}
            {#if !!videoId}
                <div class="pt-2">
                    {#if videoType === TYPE_YOUTUBE}
                        <Youtube videoId={videoId} width="420" height="280"></Youtube>
                    {/if}
                    {#if videoType === TYPE_VIMEO}
                        <VimeoPlayer videoId={videoId} playerWidth="420" playerHeight="280"/>
                    {/if}
                    {#if videoType === TYPE_PEERTUBE}
                        <iframe
                                title=""
                                width="420" height="280"
                                src={`https://peertube.fr/videos/embed/${videoId}`}
                                allowfullscreen=""
                                frameborder="0"
                                sandbox="allow-same-origin allow-scripts allow-popups"></iframe>
                    {/if}
                    {#if videoType === TYPE_CANAL_U}
                        <iframe
                                title=""
                                width="420" height="280"
                                src={`https://www.canal-u.tv/embed/${videoId}`}
                                allowfullscreen=""
                                frameborder="0"
                                sandbox="allow-same-origin allow-scripts allow-popups"></iframe>
                    {/if}
                </div>
            {/if}
        </div>
        <div class="form-group">
            <button
                    type="submit"
                    id="media_server_import_save"
                    class="btn btn-primary btn"
                    disabled={!$videoForm.valid || !videoType || !videoId}
            >
                {@html messages.submitButtonLabel}
            </button>
        </div>
    </form>
</div>
