{% if platform.message is not null %}
<div class="alert alert-danger mb-0" role="alert">
  {{ platform.message }}
</div>
{% endif %}

{% for label, messages in app.flashes %}
  {% for message in messages %}
    <div class="invisible" id="flashes">
      <div class="flash" data-label="{{ label }}" data-message="{{ message|e('html_attr') }}"></div>
    </div>
  {% endfor %}
{% endfor %}

