{% if logs is defined and logs|length > 0 %}
<div id="last-contribs-wrapper">
    <h1>Dernières contributions</h1>
    <div id="last-contribs">
    {% for log in logs %}
        {% set project = log.transcription.media.project %}
        <div>
        <a href="{{ path("project_display", {'id': log.transcription.media.project.id}) }}">{{ log.transcription.media.project.name}}</a>
        / 
        <a href="{{ path("media_transcription_display", {"id": log.transcription.media.id} ) }}">{{ log.transcription.media.name }}</a>

        {{ log.name|trans ~' '~ 'by'|trans }}
        <a target="_blank" href="{{ path('user_profile', {'id': log.user.id}) }}">
            {{log.user.username}}
        </a>
        - {{ log.createdAt|date("d/m/Y H:i") }}
        </div>
    {% endfor %}
    </div>
</div>
{% endif %}