  <nav class="navbar navbar-expand-lg navbar-light p-3" style="background-color:white">
    <a class="navbar-brand" href="{{ path('home') }}">
      {% if platform.logo %}
        <img class="platform-logo rounded" src="{{ asset('platform/'~ platform.logo) }}">
      {% endif %}
      {% if platform.displayNameNavBar %}
        {{ platform.name }}
      {% endif %}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto">

        <li class="nav-item active mr-4">
          <a class="nav-link" href="{{ path('project_list') }}">
            <i class="fas fa-rocket"></i> {{'project_list'|trans}}
          </a>
        </li>

        <li class="nav-item active mr-4">
          <a class="nav-link" href="{{ path('actu') }}">
            <i class="fas fa-bullhorn"></i> {{'actu'|trans}}
          </a>
        </li>

        {# <li class="nav-item active">
          <a class="nav-link" href="{{ path('stats') }}">
          <i class="fas fa-chart-bar"></i> {{'stats'|trans}}
          </a>
        </li> #}

        <li class="nav-item active mr-4">
          <a class="nav-link" href="{{ path('about') }}">
            <i class="fas fa-bookmark"></i> {{'about'|trans}}
          </a>
        </li>

        {% if is_granted('ROLE_ADMIN', app.user) %}

        <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-cog"></i> Administration
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{ path("project_create") }}">
                <i class="fas fa-plus"></i> {{'add_project' | trans}}
              </a>
              <a href="{{ path('admin_user_list') }}" class="dropdown-item">
                <i class="fas fa-users"></i> {{'administrate_users_menu'|trans}}
              </a>
              <a href="{{ path('admin_platform_properties')}}" class="dropdown-item">
                <i class="fas fa-cogs"></i> {{'administrate_platform_menu'|trans}}
              </a>
              <a class="dropdown-item" href="{{ path('admin_log_display')}}">
                <i class="fas fa-clipboard-list"></i> {{'administrate_log_display'|trans}}
              </a>
            </div>
          </li>
        {% endif %}
      </ul>
      <ul class="navbar-nav float-right">

        <li class="nav-item active dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          {% if app.user %}
            {% set countUnread = app.user|countUnread %}
           
            <a class="dropdown-item" href="{{ path('message_list')}}">
              <i class="fas fa-envelope {{ countUnread > 0 ? "fa-spin"}}"></i> {{ countUnread }} message(s)
            </a>
           
            <a class="dropdown-item" href="{{ path('user_profile', {'id': app.user.id}) }}">
            <i class="fas fa-user fa-fw"></i> {{app.user.fullname}}
            </a>
            
            <a class="dropdown-item" href="{{ path('logout') }}">
            <i class="fas fa-sign-out-alt fa-fw"></i> {{'logout'|trans}}
            </a>
            
          {% else %}
           
            <a class="dropdown-item" href="{{ path('user_login') }}">
            <i class="fas fa-sign-out-alt fa-fw"></i> {{'login'|trans}}
            </a>
            
            <a class="dropdown-item" href="{{ path('user_register') }}">
            <i class="fas fa-id-card fa-fw"></i> {{'register'|trans}}
            </a>
            
          {% endif %}
          </div>
        </li>
        
    </ul>
  </div>
</nav>
